<div class="page_content">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<h1><%= resource_name.to_s.humanize %> profile</h1>
  <%= devise_error_messages! %>

	<div class="field last">
		<%= f.label :user_name %>
		<span class="static_text"><strong><%= resource.name %></strong></span>
	</div>

	<div class="field last">
		<%= f.label :email %>
		<%= f.text_field :email, :class => "text" %>
	</div>
	
	<div class="field last">	
		<%= f.label :password %>
		<%= f.password_field :password, :class => "text short" %>
		<small>leave blank if you don't want to change it</small>
	</div>

	<div class="field last">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => "text short" %>
	</div>
	
	<div class="field last">	
		<%= f.label :current_password %>
		<%= f.password_field :current_password, :class => "text short" %>
		<small>we need your current password to confirm your changes</small>
 	</div>

	<div class="field last">
		<label>API token</label>
		<span class="static_text"><%=resource.token%></span>
		<!-- <small>What is API token?</small>-->
	</div>

	<div id="wizard_actions">
		<%= f.submit "Update", :class => "big_btn login" %>
	</div>
<% end %>
 
</div>