<tr class="feature_name">
  <td colspan="<%= 2 + 2*@comparison.columns.length %>"><%=print_title_link(group.name)%><a href="#" class="see_all_toggle">+ see all</a></td>
</tr>
</tbody>
<tbody>
    <% group.rows.each_with_index{|row, index| %>
    <tr id="row_<%=index%>" class="testcase<%= " has_changes" if row.changed %> <%=cycle "odd","even" %>" style="<%= 'display:none;' if !row.changed%>">
            <td class="testcase_name"><%=row.name%></td>
            <% @comparison.columns.each_with_index{|column, column_index|
                testcase = row.value(column).left
            %>
                <td class="testcase_result <%=result_class(testcase)%> column_<%=column_index%>"><%=result_html(testcase)%></td>
            <% } %>
            <td class="change_indicator <%= " changed_result" if row.changed %>"></td>
            <% @comparison.columns.each_with_index{|column, column_index|
                testcase = row.value(column).right
            %>         
            <td class="testcase_result <%=result_class(testcase)%> column_<%= (column_index + @comparison.columns.length)%>">
              <% if column_index==0 %><% end %>
              <%=result_html(testcase)%>
              <% if column_index==0 %></span><% end %>
            </td>
            <% } %>
        </tr>
    <%} %>
</tbody>
