<% if @editing %>
<div class="editable_text editable_date" id="test_category">
<% end %>
<dt>Test execution date and category:</dt>
<dd>
  <span class="date"><%= format_date_to_human_readable @report.tested_at %></span>
<% if @editing %>
  <span class="editmarkup" style="display:none;"><%= format_date_to_input @report.tested_at %></span>
<% end %>
</dd>

<dd class="category"><%=@test_session.version_label_id%> &rsaquo; <%=@test_session.target%> &rsaquo; <%=@test_session.testtype%> &rsaquo; <%=@test_session.hwproduct%></dd>

<% if @editing %>
</div>
<% end %>

