<div id="templates" style="display:none;">
  <div id="txt_edit_form">
    <form method="post" action="<%=url_for :controller => 'reports', :action=>'update_txt'%>" class="txt_form">

	  <div class="editables">
	      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	      <input class="id_field" type="hidden" name="id" value="<%=@test_session.id%>" />
	      <textarea class="txt_edit"></textarea>
	      <input type="submit" class="small_btn save" value="Save"/>
	      <input type="button" class="small_btn cancel" value="Cancel"/>
	  </div>
	  <div class="help">
	    <strong>Markup Reference</strong>
	  	<pre>
== Header ==
=== Subheader ===
''italics''
'''bold'''
* bulleted list
[[http://foo.bar/ Link]]
[[1234]] (Bugzilla issue link)
	</pre>
	  </div>
    </form>
  </div>
  <div id="title_edit_form">
    <form method="post" action="<%=url_for :controller => 'reports', :action=>'update_title'%>" class="title_form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input class="id_field" type="hidden" name="id" value="<%=@test_session.id%>" />
      <input class="title_field" type="text" name="meego_test_session[title]"/>
      <input type="submit" class="small_btn save" value="Save"/>
      <input type="button" class="small_btn cancel" value="Cancel"/>
    </form>
  </div>

  <div id="date_edit_form">
    <form method="post" action="<%= url_for :controller => 'reports', :action => 'update_tested_at'%>" class="date_form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input class="id_field" type="hidden" name="id" value="<%=@test_session.id%>" />

      <input class="date_field" type="text" name="meego_test_session[tested_at]"/>

      <input type="submit" class="small_btn save" value="Save"/>
      <input type="button" class="small_btn cancel" value="Cancel"/>
    </form>
  </div>
  <div id="comment_edit_form">
    <form method="post" action="<%=url_for :controller => 'reports', :action=>'update_case_comment'%>" class="comment_form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input class="id_field" type="hidden" name="id" value="" />
      <textarea class="comment_field" name="comment"></textarea>
      <div class="field inplace">
      	<label for="attachment">Attachment:</label>
	      <input type="file" id="attachment"/>
      </div>
      <input type="submit" class="small_btn save" value="Save"/>
      <input type="button" class="small_btn cancel last" value="Cancel"/>
    </form>
  </div>
  <div id="result_edit_form">
    <form method="post" action="<%=url_for :controller => 'reports', :action=>'update_case_result'%>" class="result_form float_container">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input class="id_field" type="hidden" name="id" value="" />
      <select name="result" class="float_above">
        <option value="1">Pass</option>
        <option value="-1">Fail</option>
        <option value="0">N/A</option>
      </select>
    </form>
  </div>

  <div id="feature_comment_edit_form">
    <form method="post" action="<%=url_for :controller => 'reports', :action=>'update_feature_comment'%>" class="comment_form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input class="id_field" type="hidden" name="id" value="" />
      <textarea class="comment_field" name="comment"></textarea>
      <input type="submit" class="small_btn save" value="Save"/>
      <input type="button" class="small_btn cancel last" value="Cancel"/>
    </form>
  </div>

  <div id="feature_grading_edit_form">
    <form method="post" action="<%=url_for :controller => 'reports', :action=>'update_feature_grading'%>" class="result_form float_container">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input class="id_field" type="hidden" name="id" value="" />
      <select name="grading" class="grading_select float_above">
        <option value="0">N/A</option>
        <option value="1">Red</option>
        <option value="2">Yellow</option>
        <option value="3">Green</option>
      </select>
    </form>
  </div>
</div>
