

<div class="page_content">

	<%= yield :notification_area %>	

    <%= yield :button_area %>
    
    <%= render :partial => 'editable_title' %>

    <%= yield :title || render(:partial => 'editable_title') %>

	<div class="report_head">
		<%= yield :table_of_contents %>

		<dl class="meta_info">
				<dt id="report_author">Author:</dt>
				<dd><%= @report.author.name%><br/>
                  <span class="un"><%= format_date_to_human_readable @report.created_at %></span>
                </dd>
				<dt>Last modified by:</dt>
				<dd><%= @report.editor.name %><br/>
                  <span class="un"><%= format_date_to_human_readable @report.updated_at %></span>
                </dd>
			     <%= render :partial => 'editable_date' %>
			    
			  		</dl>
	</div>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'test_objective', :title => "Test Objective", :field => 'objective'} %>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'build', :title => "Build (image)", :field => 'build'} %>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'environment', :title => "Test Environment", :field => 'environment'} %>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'qa_summary', :title => "Quality Summary", :field => 'qa_summary'} %>


   <%= render :partial => 'reports/test_results' %>


   <%= yield :result_edit_notification %>

      <h2 id="detailed_results">Detailed Test Results<span class="heading_actions"><%=back_to_top%></span></h2>

      <table class="detailed_results">
        <thead>
        <tr>
			  <th id="th_test_case">
			  	<span class="sort">
            <a href="#" class="see_only_failed_button sort_btn active">See only failed</a> 
			  		<a href="#" class="see_all_button sort_btn">See all</a>
            <%if @history%><a href="#" class="see_history_button sort_btn">See history</a><%end%>
			  	</span>
			  </th>
			  <th id="th_result">Result</th>
			  <th id="th_notes">Notes</th>
        	</tr>
		</thead>

		<%= render :partial => "feature", :collection => @test_session.non_nft_sets %>

      </table>
      

      <% if @history %>
	    <table class="detailed_results history" style="display:none;">
	      <thead>
				<tr>
				  <th id="th_history_test_case">
				  	<span class="sort">
            <a href="#" class="see_only_failed_button sort_btn">See only failed</a> 
			  		<a href="#" class="see_all_button sort_btn">See all</a>
            <a href="#" class="see_history_button sort_btn active">See history</a>
				   	</span>
				  </th>
          <%= history_headers(@history) %>
				  <th class="th_result">Current</th>
				  <th> 				  				  				      

				 <div style="position:relative;"></div>
				  	</th>
	      	</tr>
			</thead>
			
		<%= render :partial => "feature_history", :collection => @test_session.non_nft_sets %>
		</table>
    <% end %>
   
   <h2 id="detailed_nft_results">Non-functional Test Results<span class="heading_actions"><%=back_to_top%></span></h2>
   
   
   	    <table id="non-functional_results" class="detailed_results">
   	      <thead>
   				<tr>
   				  <th id="th_nft_test_case">
   				  	<span class="sort">
   				  		<a href="#" id="see_only_failed_button" class="sort_btn active">See only failed</a>
   				  		<a href="#" id="see_all_button" class="sort_btn">See all</a>
   				  	</span>
   				  </th>
   				  <th class="th_measured">Measured</th>
   				  <th class="th_target">Target</th>    
   				  <th class="th_limit">Fail limit</th>	
   				  <th class="th_to_target">% of target</th>  
   				  <th class="th_result">Result</th>  			     			  
   				  <th id="th_notes">Notes</th>
   	      	</tr>
   			</thead>
   			
		  <%= render :partial => "nft_feature", :collection => @test_session.nft_sets %>

   			<tr class="feature_name">
   				<td colspan="7">
   			        Run time status/Settings/Control Panel (Dummy)
   					<a href="#" class="see_all_toggle">+ see passing tests</a>
   				</td>
   			</tr>
   			
   			<tr class="testcase multiple_rows">
   				<td class="testcase_name" rowspan="3">How many watts per second?</td>
   				<td class="testcase_result">5&nbsp;<span class="unit">W</span></td>
   				<td class="testcase_target">38&nbsp;<span class="unit">W</span></td> 
   				<td class="testcase_limit">30&nbsp;<span class="unit">W</span></td>    
   				<td class="testcase_to_target fail">11&nbsp;<span class="unit">%</span></td>
   				<td class="testcase_result multiple_results fail" rowspan="3">Fail</td>       			
   				<td class="testcase_notes" rowspan="3">Test case is not suitable for N900.</td>
   			</tr>

				<tr class="testcase multiple_rows">
					<td class="testcase_result">5&nbsp;<span class="unit">A</span></td>
					<td class="testcase_target">38&nbsp;<span class="unit">A</span></td>    
					<td class="testcase_limit">30&nbsp;<span class="unit">W</span></td>	
					<td class="testcase_to_target pass">120&nbsp;<span class="unit">%</span></td>
				</tr>
				
				<tr class="testcase multiple_rows">
					<td class="testcase_result">5&nbsp;<span class="unit">A</span></td>
					<td class="testcase_target">38&nbsp;<span class="unit">A</span></td>    
   				<td class="testcase_limit">30&nbsp;<span class="unit">W</span></td>	
					<td class="testcase_to_target pass">120&nbsp;<span class="unit">%</span></td>
				</tr>


				<tr class="testcase multiple_rows even">
   				<td class="testcase_name">Connection strength?</td>
   				<td class="testcase_result">5&nbsp;<span class="unit">ms</span></td>
   				<td class="testcase_target">5&nbsp;<span class="unit">ms</span></td>     
   				<td class="testcase_limit">30&nbsp;<span class="unit">W</span></td>	
   				<td class="testcase_to_target pass">110&nbsp;<span class="unit">%</span></td>
   				<td class="testcase_result multiple_results pass" rowspan="2">Pass</td>       			
   				<td class="testcase_notes">Test case is not suitable for N900.</td>
   			</tr>

				<tr class="testcase multiple_rows even">
					<td class="testcase_name"></td>
					<td class="testcase_result">0.04&nbsp;<span class="unit">A</span></td>
					<td class="testcase_target">0.034&nbsp;<span class="unit">A</span></td>     			
					<td class="testcase_limit">30&nbsp;<span class="unit">W</span></td>
					<td class="testcase_to_target pass">500&nbsp;<span class="unit">%</span></td>
       			
					<td class="testcase_notes"></td>
				</tr>


   	
   			<tr class="feature_name">
   				<td colspan="7	">
   			        Run time status/Settings/Control Panel (Dummy)
   					<a href="#" class="see_all_toggle">+ see passing tests</a>
   				</td>
   			</tr>
   	
				<tr class="testcase multiple_rows">
						<td class="testcase_name">Connection strength?</td>
						<td class="testcase_result">5&nbsp;<span class="unit">ms</span></td>
						<td class="testcase_target">5&nbsp;<span class="unit">ms</span></td>     
						<td class="testcase_limit">30&nbsp;<span class="unit">W</span></td>	
						<td class="testcase_to_target pass">110&nbsp;<span class="unit">%</span></td>
						<td class="testcase_result multiple_results pass" rowspan="2">Pass</td>       			
						<td class="testcase_notes">Test case is not suitable for N900.</td>
					</tr>
   

   		
   </table>
      
      <%= render :partial => 'editable_text', :locals => {:anchor => 'issue_summary', :title => "Issue Summary", :field => 'issue_summary'} %>

      <%= render :partial => 'reports/file_attachments' %>
	<%= yield :wizard_actions %>


