
<div class="page_content">

  <%= yield :notification_area %>	

  <% action = controller.action_name 
  if action == 'compare' 
    cache_key = @compare_cache_key
  else
    cache_key = "#{action}_page_#{@test_session.id}"
  end %> 
  <%= cache cache_key do %>

    <%= yield :button_area %>

    <%= render :partial => 'editable_title' %>

    <%= yield :title || render(:partial => 'editable_title') %>

    <div class="report_head">
      <%= yield :table_of_contents %>

      <dl class="meta_info">
        <dt id="report_author">Author:</dt>
        <dd><%= @report.author.name%><br/>
        <span class="un"><%= format_date_to_human_readable @report.created_at %></span>
        </dd>
        <dt>Last modified by:</dt>
        <dd><%= @report.editor.name %><br/>
        <span class="un"><%= format_date_to_human_readable @report.updated_at %></span>
        </dd>
        <%= render :partial => 'editable_date' %>

      </dl>
    </div>
    <%= render :partial => 'editable_text', :locals => {:anchor => 'test_objective', :title => "Test Objective", :field => 'objective'} %>
    <%= render :partial => 'editable_text', :locals => {:anchor => 'build', :title => "Build (image)", :field => 'build'} %>
    <%= render :partial => 'editable_text', :locals => {:anchor => 'environment', :title => "Test Environment", :field => 'environment'} %>
    <%= render :partial => 'editable_text', :locals => {:anchor => 'qa_summary', :title => "Quality Summary", :field => 'qa_summary'} %>


    <%= render :partial => 'reports/test_results' %>


    <%= yield :result_edit_notification %>

    <% if @test_session.has_non_nft? %>

      <h2 id="detailed_results">Detailed Test Results<span class="heading_actions"><%=back_to_top%></span></h2>



      <table class="detailed_results" id="detailed_functional_test_results">    			
        <div class="loading" id="history_loader">
          <strong>Loading history data, please wait…</strong>
        </div>
        <thead>
          <tr>
            <th id="th_test_case">

              <span class="sort">
                <a href="#" class="see_only_failed_button sort_btn active">See only failed</a> 
                <a href="#" class="see_all_button sort_btn">See all</a>
              <%if @history%><a href="#" class="see_history_button sort_btn">See history</a><%end%>
              </span>
            </th>
            <th id="th_result">Result</th>
            <th id="th_notes">Notes</th>
          </tr>
        </thead>
				
				
				<!-- ***** DUMMY HTML FOR NOTE ATTACHEMNTS STARTS ******** -->
				<tr style="" id="" class="testcase result_fail">
				  <td class="testcase_name">Dummy html only, remove ********************
				  </td>
				  <td class="testcase_result fail"><span class="content">Fail</span> </td>
				  <td class="testcase_notes ">
				    <div class="content">
				    	<a href="http://bugs.meego.com/show_bug.cgi?id=5706" class="bugzilla bugzilla_status bugzilla_append resolved" title="VKB launched incorrectly with apps which need input text field. (FIXED)">5706</a> Dummy notes, remove **********<br>
				    	<a id="open_note_attachment_dialog" class="note_attachment">Open attachment</a>    
				    </div>
				  </td>
				</tr>
				
				<tr style="" id="" class="testcase result_fail">
				  <td class="testcase_name">Dummy html only, remove ********************
				  </td>
				  <td class="testcase_result fail"><span class="content">Fail</span> </td>
				  <td class="testcase_notes ">
				    <div class="content">
				    	<a href="http://bugs.meego.com/show_bug.cgi?id=5706" class="bugzilla bugzilla_status bugzilla_append resolved" title="VKB launched incorrectly with apps which need input text field. (FIXED)">5706</a> Dummy notes, remove **********<br>
				    	<a id="open_note_attachment_dialog_big" class="note_attachment">Open attachment</a>    
				    </div>
				  </td>
				</tr>
				
  			<!-- ************* DUMMY HTML ENDS ******************* -->

        <%= render :partial => "feature", :collection => @test_session.non_nft_sets %>

      </table>


        <% if @history %>
          <table class="detailed_results history" style="display:none;">
            <thead>
              <tr>
                <th id="th_history_test_case">
                  <span class="sort">
                    <a href="#" class="see_only_failed_button sort_btn">See only failed</a> 
                    <a href="#" class="see_all_button sort_btn">See all</a>
                    <a href="#" class="see_history_button sort_btn active">See history</a>
                  </span>
                </th>
                <%= history_headers(@history) %>
                <th class="th_result">Current</th>
                <th> 				  				  				      

                  <div style="position:relative;"></div>
                </th>
              </tr>
            </thead>

            <%= render :partial => "feature_history", :collection => @test_session.non_nft_sets %>
          </table>
        <% end %>

      <% end %>

      <% if @test_session.has_nft? %>
        <h2 id="detailed_nft_results">Non-functional Test Results<span class="heading_actions"><%=back_to_top%></span></h2>

        <table id="non-functional_results" class="detailed_results">
          <thead>
            <tr>
              <th id="th_nft_test_case">
                <!--<span class="sort">
                  <a href="#" id="see_only_failed_button" class="sort_btn active">See only failed</a>
                  <a href="#" id="see_all_button" class="sort_btn">See all</a>
                </span>-->
              </th>
              <th class="th_name">Measurement</th>
              <th class="th_measured">Value</th>
              <th class="th_target">Target</th>    
              <th class="th_limit">Fail limit</th>	
              <th class="th_to_target">% of target</th>  
              <th class="th_result">Result</th>  			     			  
              <th id="th_notes">Notes</th>
            </tr>
          </thead>
          
				<!-- ***** DUMMY HTML FOR NOTE ATTACHEMNTS STARTS ******** -->          
					<tbody>
						<tr class="feature_name" id="test-set-370">
							<td colspan="8">
						        N/A
								<a href="#" class="see_all_toggle" style="display: none; ">- hide passing tests</a>
							</td>
						</tr>
					</tbody>
					<tbody>
					<tr class="testcase multiple_rows odd" id="testcase-823">
					
					  <td class="testcase_name" rowspan="60">DUMMY HTML ONLY, remove ****************
					    
					    
					  </td>
					    <td class="testcase_measurement">GPS fixes</td>
					    <td class="testcase_value"></td>
					    <td class="testcase_target">80 <span class="unit">%</span></td>   
					    <td class="testcase_limit">75 <span class="unit">%</span></td>    
					    <td class="testcase_to_target na">90 <span class="unit">%</span></td>
					      <td class="testcase_result multiple_results pass   " rowspan="60"><span class="content">Pass</span> </td>       			
					      <td class="testcase_notes " rowspan="60">
					        <div class="content">
					        	<a id="open_note_attachment_dialog" class="note_attachment">Open attachment</a>    
					        	
					        </div>
					      </td>
							</tr>
					</tbody>
  	<!-- ************* DUMMY HTML ENDS ******************* -->


          <%= render :partial => "nft_feature", :collection => @test_session.nft_sets %>

        </table>

      <% end %>


      <%= render :partial => 'editable_text', :locals => {:anchor => 'issue_summary', :title => "Issue Summary", :field => 'issue_summary'} %>

      <%= render :partial => 'reports/file_attachments' %>

      <%= yield :wizard_actions %>

    <% end %>
