

<div class="page_content">

	<%= yield :notification_area %>	

    <%= yield :button_area %>
    
    <%= render :partial => 'editable_title' %>

    <%= yield :title || render(:partial => 'editable_title') %>

	<div class="report_head">
		<%= yield :table_of_contents %>

		<dl class="meta_info">
				<dt id="report_author">Author:</dt>
				<dd><%= @report.author.name%><br/>
                  <span class="un"><%= format_date_to_human_readable @report.created_at %></span>
                </dd>
				<dt>Last modified by:</dt>
				<dd><%= @report.editor.name %><br/>
                  <span class="un"><%= format_date_to_human_readable @report.updated_at %></span>
                </dd>
			     <%= render :partial => 'editable_date' %>
			    
			  		</dl>
	</div>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'test_objective', :title => "Test Objective", :field => 'objective'} %>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'build', :title => "Build (image)", :field => 'build'} %>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'environment', :title => "Test Environment", :field => 'environment'} %>
      <%= render :partial => 'editable_text', :locals => {:anchor => 'qa_summary', :title => "Quality Summary", :field => 'qa_summary'} %>


   <%= render :partial => 'reports/test_results' %>


   <%= yield :result_edit_notification %>

      <h2 id="detailed_results">Detailed Test Results<span class="heading_actions"><%=back_to_top%></span></h2>

      <table id="functional_results" class="detailed_results">
        <thead>
			<tr>
			  <th id="th_test_case">
			  	<span class="sort"><a href="#" id="see_only_failed_button" class="sort_btn active">See only failed</a> 
			  		<a href="#" id="see_all_button" class="sort_btn">See all</a>
			  	</span>
			  </th>
			  <th id="th_result">Result</th>
			  <th id="th_notes">Notes</th>
        	</tr>
		</thead>

		<%= render :partial => "feature", :collection => @test_session.meego_test_sets %>

      </table>
      


<!--   <h2 id="detailed_results">Dummy table for five step regression view<span class="heading_actions"><%=back_to_top%></span></h2>
      
	      
	    <table id="non-functional_results" class="detailed_results">
	      <thead>
				<tr>
				  <th id="th_history_test_case">
				  	<span class="sort">
				   		<a href="#" id="see_only_failed_button" class="sort_btn">See only failed</a> 
				   		<a href="#" id="see_all_button" class="sort_btn">See all</a>
				   		<a href="#" id="see_history_button" class="sort_btn active">See history</a>
				   	</span>
				  </th>
				  <th class="th_history_result"><a href="">03/01</a></th>
				  <th class="th_history_result"><a href="">05/01</a></th>
				  <th class="th_history_result"><a href="">12/01</a></th>
				  <th class="th_history_result"><a href="">28/01</a></th>
				  <th class="th_result">Current</th>
				  <th> 				  				  				      

				 <div style="position:relative;"></div>
				  	</th>
	      	</tr>
			</thead>
			
			<tr class="feature_name">
				<td colspan="7">
			        Run time status/Settings/Control Panel (Dummy)
					<a href="#" class="see_all_toggle">+ see passing tests</a>
				</td>
			</tr>
			
			<tr class="testcase">
				<td class="testcase_name">Check PIN activation/deactivation (Need GUI support)</td>
				<td class="testcase_result fail history_result">Fail</td> 
				<td class="testcase_result fail history_result">Fail</td>   
				<td class="testcase_result fail history_result">Fail</td>   			
				<td class="testcase_result fail history_result">Fail</td> 
				<td class="testcase_result pass current_result">Pass</td> 		
				<td></td>		

			</tr>
	
			<tr class="feature_name">
				<td colspan="7">
			        Run time status/Settings/Control Panel (Dummy)
					<a href="#" class="see_all_toggle">+ see passing tests</a>
				</td>
			</tr>
	
			<tr class="testcase">
				<td class="testcase_name">Check PIN activation/deactivation (Need GUI support)</td>
				<td class="testcase_result fail history_result">Fail</td> 
				<td class="testcase_result fail history_result">Fail</td>   
				<td class="testcase_result fail history_result">Fail</td>   			
				<td class="testcase_result fail history_result">Fail</td> 
				<td class="testcase_result pass current_result">Pass</td> 	
				<td></td>							
			</tr>
			
			<tr class="testcase">
				<td class="testcase_name">Check PIN activation/deactivation (Need GUI support)</td>
				<td class="testcase_result pass history_result">Pass</td> 
				<td class="testcase_result fail history_result">Fail</td>   
				<td class="testcase_result pass history_result">Pass</td>   			
				<td class="testcase_result pass history_result">Pass</td> 
				<td class="testcase_result fail current_result">fail</td> 	
				<td></td>							
			</tr>

		
		</table>-->
   
   
    <h2 id="detailed_results">NFT multiple test results per test<span class="heading_actions"><%=back_to_top%></span></h2>
         
   	      
   	    <table id="non-functional_results" class="detailed_results">
   	      <thead>
   				<tr>
   				  <th id="th_nft_test_case">
   				  	<span class="sort">
   				  		<a href="#" id="see_only_failed_button" class="sort_btn active">See only failed</a>
   				  		<a href="#" id="see_all_button" class="sort_btn">See all</a>
   				  	</span>
   				  </th>
   				  <th class="th_measured">Measured</th>
   				  <th class="th_target">Target</th>    
   				  <th class="th_to_target">% of target</th>  
   				  <th class="th_result">Result</th>  			     			  
   				  <th id="th_notes">Notes</th>
   	      	</tr>
   			</thead>
   			
   			<tr class="feature_name">
   				<td colspan="6">
   			        Run time status/Settings/Control Panel (Dummy)
   					<a href="#" class="see_all_toggle">+ see passing tests</a>
   				</td>
   			</tr>
   			
   			<tr class="testcase">
   				<td class="testcase_name">How many watts per second?</td>
   				<td class="testcase_result">5&nbsp;<span class="unit">W</span></td>
   				<td class="testcase_target">38&nbsp;<span class="unit">W</span></td>     			
   				<td class="testcase_to_target">11&nbsp;<span class="unit">%</span></td>
   				<td class="testcase_result multiple_results fail" rowspan="2">Fail</td>       			
   				<td class="testcase_notes">Test case is not suitable for N900.</td>
   			</tr>

				<tr class="testcase additional_result">
					<td class="testcase_name"></td>
					<td class="testcase_result">5&nbsp;<span class="unit">A</span></td>
					<td class="testcase_target">38&nbsp;<span class="unit">A</span></td>     			
					<td class="testcase_to_target">120&nbsp;<span class="unit">%</span></td>
       			
					<td class="testcase_notes">Test case is not suitable for N900.</td>
				</tr>

   	
   			<tr class="feature_name">
   				<td colspan="6">
   			        Run time status/Settings/Control Panel (Dummy)
   					<a href="#" class="see_all_toggle">+ see passing tests</a>
   				</td>
   			</tr>
   	
   			<tr class="testcase">
   				<td class="testcase_name">How many watts per second?</td>
   				<td class="testcase_result">34&nbsp;<span class="unit">W</span></td>
   				<td class="testcase_target">32&nbsp;<span class="unit">W</span></td>   
   				<td class="testcase_result pass">Pass</td>   			
   				<td class="testcase_to_target">108&nbsp;<span class="unit">%</span></td>      			
   				<td class="testcase_notes">Test case is not suitable for N900.</td>
   			</tr>
   

   		
   </table>
   
   
   
   
   <h2 id="detailed_results">Non-functional Test Results<span class="heading_actions"><%=back_to_top%></span></h2>
      
	      
	    <table id="non-functional_results" class="detailed_results">
	      <thead>
				<tr>
				  <th id="th_nft_test_case">
				  	<span class="sort">
				  		<a href="#" id="see_only_failed_button" class="sort_btn active">See only failed</a>
				  		<a href="#" id="see_all_button" class="sort_btn">See all</a>
				  	</span>
				  </th>
				  <th class="th_measured">Measured</th>
				  <th class="th_target">Target</th>    
				  <th class="th_result">Result</th>  			  
				  <th class="th_to_target">% of target</th>      			  
				  <th id="th_notes">Notes</th>
	      	</tr>
			</thead>
			
			<tr class="feature_name">
				<td colspan="6">
			        Run time status/Settings/Control Panel (Dummy)
					<a href="#" class="see_all_toggle">+ see passing tests</a>
				</td>
			</tr>
			
			<tr class="testcase">
				<td class="testcase_name">How many watts per second?</td>
				<td class="testcase_result">5&nbsp;<span class="unit">W</span></td>
				<td class="testcase_target">38&nbsp;<span class="unit">W</span></td>   
				<td class="testcase_result fail">Fail</td>   			
				<td class="testcase_to_target">11&nbsp;<span class="unit">%</span></td>      			
				<td class="testcase_notes">Test case is not suitable for N900.</td>
			</tr>
	
			<tr class="feature_name">
				<td colspan="6">
			        Run time status/Settings/Control Panel (Dummy)
					<a href="#" class="see_all_toggle">+ see passing tests</a>
				</td>
			</tr>
	
			<tr class="testcase">
				<td class="testcase_name">How many watts per second?</td>
				<td class="testcase_result">34&nbsp;<span class="unit">W</span></td>
				<td class="testcase_target">32&nbsp;<span class="unit">W</span></td>   
				<td class="testcase_result pass">Pass</td>   			
				<td class="testcase_to_target">108&nbsp;<span class="unit">%</span></td>      			
				<td class="testcase_notes">Test case is not suitable for N900.</td>
			</tr>

			<tr class="testcase">
				<td class="testcase_name">How many watts per second?</td>
				<td class="testcase_result">-</td>
				<td class="testcase_target">38&nbsp;<span class="unit">W</span></td>   
				<td class="testcase_result na">N/A</td>   			
				<td class="testcase_to_target">-</td>      			
				<td class="testcase_notes">Test case is not suitable for N900.</td>
			</tr>
		
</table>
      
      
      <%= render :partial => 'editable_text', :locals => {:anchor => 'issue_summary', :title => "Issue Summary", :field => 'issue_summary'} %>

      <%= render :partial => 'reports/file_attachments' %>
	<%= yield :wizard_actions %>

</div>


<% content_for :category_dialog do %>
<div id="category-dialog" style="display:none;" class="jqmWindow">
	
	
	 <form accept-charset="UTF-8" action="/upload_post" class="new_meego_test_session" enctype="multipart/form-data" id="upload_report" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="U9s2DDXuKqMYRMaM/e4BJPjCEZpXgNgeogy6la8s6J8=" /></div> 
	    <h1>Change test category</h1> 
	    <div class="field"> 
	      <label for="report_meego_version">MeeGo release:</label> 
	        <input checked="checked" id="1.2" name="meego_test_session[release_version]" type="radio" value="1.2" /> 
	        <label class="inline_label" for="1.2">1.2</label> 
	        <input id="1.1" name="meego_test_session[release_version]" type="radio" value="1.1" /> 
	        <label class="inline_label" for="1.1">1.1</label> 
	        <input id="1.0" name="meego_test_session[release_version]" type="radio" value="1.0" /> 
	        <label class="inline_label" for="1.0">1.0</label> 
	    </div> 
	    <div class="field"> 
	      <label for="report_test_target">Target profile:</label> 
	        <input checked="checked" id="core_target" name="meego_test_session[target]" type="radio" value="Core" /> 
	        <label for="core_target" class="inline_label">Core</label> 
	        <input id="handset_target" name="meego_test_session[target]" type="radio" value="Handset" /> 
	        <label for="handset_target" class="inline_label">Handset</label> 
	        <input id="netbook_target" name="meego_test_session[target]" type="radio" value="Netbook" /> 
	        <label for="netbook_target" class="inline_label">Netbook</label> 
	        <input id="ivi_target" name="meego_test_session[target]" type="radio" value="IVI" /> 
	        <label for="ivi_target" class="inline_label">IVI</label> 
	        <input id="sdk_target" name="meego_test_session[target]" type="radio" value="SDK" /> 
	        <label for="sdk_target" class="inline_label">SDK</label> 
	      
	 
	    </div> 
	    <div class="field"> 
	      <label for="report_test_execution_date">Test execution date:</label> 
	      <input class="date" id="report_test_execution_date" name="meego_test_session[tested_at]" size="30" type="text" /> 
	      
	    </div> 
	    <div class="field"> 
	      <label for="report_test_type">Test type:</label> 
	      <input class="text" id="report_test_type" name="meego_test_session[testtype]" size="30" tabindex="3" type="text" value="Acceptance" /> 
	      <small class="suggestions">e.g. <a href="#">Acceptance</a>, <a href="#">Acceptance:Testing</a>, <a href="#">Sanity</a></small> 
	      
	    </div> 
	    <div class="field last"> 
	      <label for="report_test_hardware">Hardware:</label> 
	      <input class="text" id="report_test_hardware" name="meego_test_session[hwproduct]" size="30" tabindex="5" type="text" value="Aava" /> 
	      <small class="suggestions">e.g. <a href="#">Aava</a>, <a href="#">E865</a>, <a href="#">N900</a></small> 
	      
	    </div> 

	</form>	
	
	<form>
	<div id="wizard_actions">
	  
			<input type="button" value="Cancel" class="dialog-cancel jqmClose"/>
			<input type="submit" value="Save" class="dialog-delete"/>
		
	</div>
	</form>
	</div>
<% end %>

<% content_for :view_specific_js do %>
<%= javascript_include_tag 'jqModal.js'%>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
	$('#category-dialog').jqm({
		modal:true
	}).jqmAddTrigger('#test_category');
});
</script>

<script type="text/javascript">

  $(document).ready(function() {


      $(".date").datepicker({
        showOn: "both",
        buttonImage: "/images/calendar_icon.png",
        buttonImageOnly: true,
        firstDay: 1,
        selectOtherMonths: true,
        dateFormat: "yy-mm-dd"
      });

      var myDate = new Date();
      var prettyDate = myDate.getUTCFullYear() + '-' + (myDate.getUTCMonth()+1) + '-' + myDate.getUTCDate();
      $(".date").val(prettyDate);


      activateSuggestionLinks("div.field");
});
</script>



<% end %>
