<div class="section emphasized_section">

  <h2 id="test_results">Test Results
  	<span class="heading_actions"><%= back_to_top %></span></h2>

  <div class="container">

    <%= yield :test_result_navigation %>

    <h3 class="first">Result Summary</h3>

    <div class="wrap">
      <table id="test_result_overview">
        <tr class="even">
          <td class="title">Total test cases</td>
          <td class="value"><strong><%= @report.total_cases %></strong></td>
          <td class="change <%= @report.total_change_class %>"><em><%= @report.total_change %></em></td>
          <td rowspan="7" style="background-color: white;"><div id="summary_graph_wrapper"><canvas id="summary_graph_canvas" width="395" height="210"/></div></td>
        </tr>
        <tr class="odd">
          <td>Passed</td>
          <td><strong class="pass"><%= @report.total_passed %></strong></td>
          <td class="<%= @report.passed_change_class %>"><em><%= @report.passed_change %></em></td>
        </tr>
        <tr class="even">
          <td>Failed</td>
          <td><strong class="fail"><%= @report.total_failed %></strong></td>
          <td class="<%= @report.failed_change_class %>"><em><%= @report.failed_change %></em></td>
        </tr>
        <tr class="odd">
          <td>N/A</td>
          <td><strong><%= @report.total_na %></strong></td>
          <td class="<%= @report.na_change_class %>"><em><%= @report.na_change %></em></td>
        </tr>
        <tr class="even">
          <td>Run rate</td>
          <td><strong><%= @report.run_rate %></strong></td>
          <td class="<%= @report.run_rate_change_class %>"><em><%= @report.run_rate_change %></em></td>
        </tr>
        <tr class="odd">
          <td>Pass rate of total</td>
          <td><strong><%= @report.total_pass_rate %></strong></td>
          <td class="<%= @report.total_pass_rate_change_class %>"><em><%= @report.total_pass_rate_change %></em></td>
        </tr>
        <tr class="even">
          <td>Pass rate of executed</td>
          <td><strong><%= @report.executed_pass_rate %></strong></td>
          <td class="<%= @report.executed_pass_rate_change_class %>"><em><%= @report.executed_pass_rate_change %></em>
          </td>
        </tr>
      </table>
    </div>

    <h3 id="test_features">Test Results by Feature</h3>

    	<div id="test_results_navi">
          <span class="grading_history_buttons sort">
            <a href="#" class="see_feature_comment_button sort_btn active">See comment and grading</a>
            <a href="#" class="see_feature_history_button sort_btn">See pass_rate_history</a>
          </span>
        </div>

    
    <table id="test_results" class="feature_detailed_results">
      <thead class="even">
      <tr id="detailed_feature_head" class="detailed_feature_head">
        <th class="th_feature">Feature</th>
        <th class="th_total">Total</th>
        <th class="th_passed">Passed</th>
        <th class="th_failed">Failed</th>
        <th class="th_not_testable">N/A</th>
        <th class="th_feature_pass_rate">Pass_Rate</th>
        <th class="th_graph">&nbsp;</th>
        <th class="th_notes">Comments</th>
        <th class="th_grading">Grading</th>
      </tr>
      </thead>
      
      <%= render :partial => 'feature_summary', :collection => @test_session.meego_test_sets %>      
    </table>
    
    <%if @history %>
    <table id="test_feature_history_results"  class="feature_detailed_results_with_passrate_history" style="display:none;">
     <thead class="even">
      <tr id="detailed_feature_history_head" class="detailed_feature_head feature_history">
        <th class="th_feature">Feature</th>
        <th class="th_total">Total</th>
        <th class="th_passed">Passed</th>
        <th class="th_failed">Failed</th>
        <th class="th_not_testable">N/A</th>
        <%= history_headers(@history) %>
        <th class="th_result current_feature_history_result">Current</th>
      </tr>
      </thead>

      <%= render :partial => 'feature_pass_rate_history_summary', :collection => @test_session.meego_test_sets %>
    </table>
    <% end %>

  </div>
</div>

<% data = @report.summary_data %>

<script language="javascript" type="text/javascript">
$(window).load(function() {
  // graph data
  var summary_passed = <%= ints2js data.passed %> ;
  var summary_failed = <%= ints2js data.failed %> ;
  var summary_na     = <%= ints2js data.na     %> ;
  var summary_labels = <%= strs2js data.labels %> ;

  var g = new Bluff.StackedBar("summary_graph_canvas", "395x210");
  g.hide_title = true;
  g.tooltips = true;
  g.sort = false;
  g.bar_spacing = 0.7;
  g.marker_font_size = 18;
  g.legend_font_size = 24;
  g.set_theme({
    colors: ['#acacac'],
    marker_color: '#dedede',
    font_color: '#6f6f6f',
    background_colors: ['white', 'white']
  });

  g.data('pass', summary_passed, '#bcd483');
  g.data('fail', summary_failed, '#f36c6c');
  g.data('n/a',  summary_na,     '#ddd');
  g.labels = summary_labels;
  g.draw();
});

</script>
