<% content_for :page_header do %>
    <%= render :partial => "page_header" %>
<% end %>

<% content_for :breadcrumbs do %>
    <%= breadcrumbs %>
<% end %>


<% content_for :page_content do %>
    <h1><em><%=@testtype%> vs. <%=@comparison_testtype%>:</em> <%= @target %></h1>

    <h2>Summary</h2>

    <div class="clearfix">
      <div class="result_caption big_number">
        <strong id="changed_to_pass" class="pass"><%= @comparison.changed_to_pass %></strong>
        Test result<br/> changed to <em>pass</em>
      </div>

      <div class="result_caption big_number">
        <strong id="changed_to_fail" class="fail"><%= @comparison.changed_to_fail %></strong>
        Test result<br/> changed to <em>fail</em>
      </div>
      <div class="new_tests result_caption">
        <div class="result_caption_header"><strong>New tests:</strong></div>
        <div class="result_caption medium_number"><strong class="pass"><%= @comparison.new_passing %></strong> Passing
        </div>
        <div class="result_caption medium_number"><strong class="fail"><%= @comparison.new_failing %></strong> Failing
        </div>
        <div class="result_caption medium_number"><strong><%= @comparison.new_na %></strong> N/A</div>
      </div>
    </div>

    <h2>Detailed results</h2>

    <table class="detailed_results" id="compare_details">
      <thead>
      <tr>
        <th id="th_test_case">
        	<span class="sort"><a href="#" id="see_only_failed_button" class="sort_btn active">See only changed</a> <a href="#" id="see_all_button" class="sort_btn">See all</a></span>
        </th>
        <th colspan="<%=@comparison.columns.length%>" class="column_head_1"><%= @testtype %></th>
         <th class="column_head_separate"></th>
        <th colspan="<%=@comparison.columns.length%>" class="column_head_1"><%=@comparison_testtype%></th>
      </tr>
      <tr class="compare_testtype">
        <th class="first_col"></th>
        <% @comparison.columns.each_with_index{|name, index| %>
            <th class="column_<%=index%> column_head_2"><%=name%></th>
        <% } %>
        <th class="column_head_separate_2"></th>
        <% @comparison.columns.each_with_index{|name, index| %>
            <th class="column_<%= (index + @comparison.columns.length)%> column_head_2"><%=name%></th>
        <% } %>
      </tr>      
      </thead>
      <tbody>

      <%= render :partial => "compare_group", :collection => @groups, :as => :group %>
    </table>
<% end %>

<% content_for :view_specific_js do %>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    filterResults("tr.testcase:not(.has_changes)", "unchanged tests");
	fetchBugzillaInfo();
});
</script>
<% end %>