<% content_for :page_header do %>
    <%= render :partial => "page_header" %>
<% end %>

<% content_for :breadcrumbs do %>
    <%= breadcrumbs %>
<% end %>


<% content_for :page_content do %>
    <h1><em>Testing vs. Trunk:</em> Handset Aava</h1>

    
    <h2>Summary</h2>

    <div class="clearfix">
      <div class="result_caption big_number">
        <strong class="pass"><%= @comparison.changed_to_pass %></strong>
        Test result<br/> changed to <em>pass</em>
      </div>

      <div class="result_caption big_number">
        <strong class="fail"><%= @comparison.changed_to_fail %></strong>
        Test result<br/> changed to <em>fail</em>
      </div>
      <div class="new_tests result_caption">
        <div class="result_caption_header"><strong>New tests:</strong></div>
        <div class="result_caption medium_number"><strong class="pass"><%= @comparison.new_passing %></strong> Passing
        </div>
        <div class="result_caption medium_number"><strong class="fail"><%= @comparison.new_failing %></strong> Failing
        </div>
        <div class="result_caption medium_number"><strong><%= @comparison.new_na %></strong> N/A</div>
      </div>
    </div>

    <h2>Detailed results</h2>

    <table class="detailed_results">
      <thead>
      <tr>
        <th></th>
        <th colspan="<%=@comparison.columns.length%>" class="column_head_1">Testing</th>
        <th colspan="<%=@comparison.columns.length%>" class="column_head_1">Trunk</th>
      </tr>
      <tr>
        <th></th>
        <% @comparison.columns.each{|name| %>
            <th><%=name%></th>
        <% } %>
        <% @comparison.columns.each{|name| %>
            <th><%=name%></th>
        <% } %>
      </tr>      
      </thead>
      <tbody>

      <%= render :partial => "compare_group", :collection => @groups, :as => :group %>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.see_all_toggle").click(function() {
                $this = $(this);
                $tbody = $this.parents("tbody").next("tbody");
                if($tbody.find("tr:hidden").length==0) {
                    $this.text("+ see all");
                } else {
                    $this.text("see changed only");
                }
                $tbody.find("tr").not(".has_changes").toggle();
                return false;
            });
        });
    </script>
<% end %>
